@if(!service.IsUserAuthenticated){
<app-login></app-login>
}@else{

<div class=""[ngClass]="{'expanded': !service.toggle, 'collapsed': service.toggle,'toggle-sidebar':!service.toggle}">
   <div class="">
      <!-- <nav id="sidebar">
         <app-sidebar></app-sidebar>
      </nav> -->
      
         <app-sidebar [collapsed]="isSidebarCollapsed" [isMobileNavOpen]="isMobileNavOpen"></app-sidebar>
   
      <!-- <div id="content" [ngClass]="{'wider-content': !service.toggle, 'narrow-content': service.toggle}"> -->
      <div>
         <!-- topbar -->
         <!-- <div class="topbar">
            <nav class="navbar navbar-expand-lg navbar-light ">
               <app-topbar class="w-100"></app-topbar>
            </nav>
         </div> -->
         <div class="">
            <nav class="">
               <app-topbar (toggleSidebar)="toggleSidebar()" class=""></app-topbar>
            </nav>
         </div>
         <!-- end topbar -->
         <!-- dashboard inner -->
         <div class="" >
            <div class="">
               <div [ngClass]=" service.showSpinner?'showSpinner':'hideSpinner'">
                  <div id="loader-wrapper">
                     <div id="loader">
                        <div id="spinner">
                           <div id="inner-circle"></div>
                           <div id="middle-circle"></div>
                           <div id="outer-circle"></div>
                        </div>
                        <img src="/assets/img/campzeo-logo.png" alt="Logo" id="loader-logo" />
                     </div>
                  </div>
               </div>
               <section
              class="pcoded-main-container"
               [class.main-collapsed]="isSidebarCollapsed && !isMobileNavOpen">
               <router-outlet class=""></router-outlet>
               </section>
            </div>
            <!-- end dashboard inner -->
         </div>
      </div>
   </div>
</div>
}
