.selected-email{
    box-shadow: 0px 0px 8px 0px #00d5ffbb;
}
.selected-email-hover:hover{
    box-shadow: 0px 0px 8px 0px #00d5ff8a;
}
.selected-email i{
    color: #00d5ffbb;
}
.selected-sms-hover:hover{
    box-shadow: 0px 0px 8px 0px #c49700;
}
.selected-sms{
    box-shadow: 0px 0px 8px 0px #c49700;
}
.selected-sms i{
    color: #c49700;
}
.selected-whatsapp-hover:hover{
    box-shadow: 0px 0px 8px 0px #1ee000bf;
}
.selected-whatsapp{
    box-shadow: 0px 0px 8px 0px #1ee000;
}
.selected-whatsapp i{
    color: #1ee000;
}
.selected-rcs-hover:hover{
    box-shadow: 0px 0px 8px 0px #00c4b7b0;
}
.selected-rcs{
    box-shadow: 0px 0px 8px 0px #00c4b7;
}
.selected-rcs i{
    color: #00c4b7;
}
.selected-facebook-hover:hover{
    box-shadow: 0px 0px 8px 0px #316ff6ca;
}
.selected-facebook{
    box-shadow: 0px 0px 8px 0px #316FF6;
}
.selected-facebook i{
    color: #316FF6;
}

.selected-instagram-hover:hover{
    box-shadow: 0px 0px 8px 0px #fc5745c6;
}
.selected-instagram{
    box-shadow: 0px 0px 8px 0px #fc5745;
}
.selected-instagram i{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}