::ng-deep .pagination .current {
  background-color: #1abc9c !important;
  padding: .1875rem .625rem;
  color: #fefefe;
  cursor: default;
}

.ql-editor img {
  max-width: 100%;
  max-height: 500px;
  width: auto;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 4px;
  object-fit: contain;
}

.ql-tooltip.ql-editing {
  transform: translateX(50%);
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
  display: block;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  top: 0 !important;
  left: 5 !important;
  display: none;
}

.fa-sms {
  color: #c49700 !important;
}

.fa-envelope-open {
  color: #e04d3b !important;
}

.fa-whatsapp {
  color: #1ee000 !important;
}

.fa-globe {
  color: #00c4b7 !important;
}

.pointer {
  cursor: pointer !important;
}

.fa-facebook {
  color: #316FF6 !important;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) ;
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.text-end {
  text-align: end !important;
}

::ng-deep .ql-tooltip {
  top: 0px !important;
  left: 0px !important;
}

::ng-deep .ql-tooltip .ql-editing {
  top: 0px !important;
  left: 0px !important;
}

.ql-editor .ql-blank {
  height: 500px !important;
}


.e-pager .e-currentitem,
.e-pager .e-currentitem:hover {
  background: #5867dd !important;
  color: #fff;
  opacity: 1;
}

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
  background: #5867dd;
}
html {
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
}

.f-20{
  font-size: 17px;
}

btn btn-xs btn-secondary btn-sm {
  margin-right: 10px;
}

.html-content-div img {
    max-width: 100%;
}
  quill-editor.mb-4.ng-untouched.ng-pristine.ng-valid {
    padding-left: 0;
}