<div class="auth-wrapper">
    <div class="container p-0">
        <!-- Left Side -->
        <div class="left-panel">
            <img src="assets/img/logo.png" alt="" class="img-fluid mb-4 h-35">
            <p>
                Manage your campaigns efficiently and effortlessly. Our Campaign Management system helps you
                plan, execute, and analyze your marketing efforts—all in one place.
            </p>
        </div>

        <!-- Right Side -->
        <div class="right-panel">
            <div class="login-box">
                <h2 class="login-heading">Forgot Password</h2>
                @if (!isSubmitted) {
                <div class="custom-control  text-left mb-4 mt-2">
                    <p>Please check your email for a link to reset your password after pressing submit.</p>
                </div>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

                    <!-- Email -->
                    <div class="form-group mb-3">
                        <input type="email" class="form-control" formControlName="email" placeholder="Email address">
                        <div
                            *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid">
                            <small class="text-danger"
                                *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
                            <small class="text-danger" *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Enter
                                a valid email.</small>
                        </div>
                    </div>


                    <div class="custom-control custom-checkbox text-left mb-4 mt-2 p-0">
                        <p class="custom-control-p" for="customCheck1">Back to Login? <a href="/">Click Here</a> </p>
                    </div>

                    <!-- Submit Button -->
                    <button class="btn btn-block " type="submit" [disabled]="forgotPasswordForm.invalid">Submit</button>
                </form>
                }@else{
                <div class="custom-control  text-left mb-4 mt-2">
                    <p>Thank you for submitting your email. Please check you email for the link to reset password</p>
                    <div class="custom-control custom-checkbox text-left mb-4 mt-2 p-0">
                        <p class="custom-control-p" for="customCheck1">Back to Login? <a href="/">Click Here</a> </p>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>