<!-- <div class="card">
    <div class="card-body">
        <div class="col-md-12 ">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head mt-2">
                    <div class="d-flex justify-content-between pt-3 mt-3 mb-4">
                        <div class="heading1 margin_0">
                            <h2 class="pagetitle">Contact </h2>
                        </div>
                        <div class="d-flex ">
                            <a [routerLink]="'/add-contact'"><button type="button"
                                    class="btn cur-p btn-outline-primary px-2 py-1 mx-2">Add New</button>
                            </a>
                            <div class="float-right">
                                <a [routerLink]="'/import-contacts'"><button type="button"
                                        class="btn cur-p btn-outline-success px-2 py-1 mx-2">Import bulk
                                        contacts</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <input type="text" class="form-control w-25" placeholder="Search..." [(ngModel)]="searchTerm"
                        (input)="onSearchChange()" />
                    <div class="form-group d-flex align-items-center justify-content-center gap-1">
                        <div>
                            <span class="text-primary">entries per page</span>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="itemsPerPageSelect" [(ngModel)]="itemsPerPage"
                                (change)="onItemsPerPageChange(itemsPerPage)">
                                <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="table_section padding_infor_info">
                    <div class="table-responsive-sm">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th>#</th>
                                    <th>ContactName</th>
                                    <th>ContactEmail</th>
                                    <th>ContactWhatsApp</th>
                                    <th>ContactMobile</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let item of Contacts | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems: total }; let i = index">
                                    <td>{{ (page - 1) * itemsPerPage + (i + 1) }}</td>
                                    <td>{{item.contactName}}</td>
                                    <td>{{item.contactEmail}}</td>
                                    <td>{{item.contactWhatsApp}}</td>
                                    <td>{{item.contactMobile}}</td>
                                    <td><a class="pointer" (click)="EditItem(item.id)">
                                            <i class="fa fa-edit fa-1-3x"></i>
                                        </a></td>
                                </tr>
                            </tbody>

                        </table>
                        <div class="d-flex justify-content-end pt-3 mb-0">
                            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="page-header mb-0">

                <h3 class="fw-bold mb-3">Contact</h3>
                <ul class="breadcrumbs mb-3">
                    <li class="nav-item">
                        <a [routerLink]="'/dashboard'"><i class=" icon-home"></i></a>
                    </li>
                    <li class="separator">
                        <i class="icon-arrow-right"></i>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="'/list-contacts'">Contact List</a>
                    </li>
                </ul>
            </div>
            <div class="card-header d-flex aligin-item-center justify-content-between py-2">
                <div class="title-table d-flex align-items-center">
                    <h5>Contact List</h5>
                </div>
                <div class="d-flex gap-1">
                    <a [routerLink]="'/add-contact'"><button type="button" class="btn btn-primary btn-border mx-2">Add
                            New</button>
                    </a>
                    <a [routerLink]="'/import-contacts'"><button type="button" class="btn btn-primary btn-border">Import
                            bulk
                            contacts</button>
                    </a>
                </div>
            </div>

            <div class="custom-grid-wrapper">
                <ejs-grid [dataSource]="Contacts" [allowPaging]="true" [allowSorting]="true"
                    [pageSettings]="pageSettings" [searchSettings]="searchSettings" [toolbar]="toolbar" height="400"
                    class="custom-grid">
                    <e-columns>
                        <e-column field="contactName" headerText="Name" width="150"></e-column>
                        <e-column field="contactEmail" headerText="Email" width="180"></e-column>
                        <e-column field="contactMobile" headerText="Mobile" width="120"></e-column>
                        <e-column field="contactWhatsApp" headerText="WhatsApp" width="120"></e-column>
                    </e-columns>
                </ejs-grid>
            </div>

            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">

                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header d-flex aligin-item-center justify-content-between py-2">
                            <div class="title-table d-flex align-items-center">
                                <h5>Contact List</h5>
                            </div>
                            <div class="d-flex gap-1">
                                <a [routerLink]="'/add-contact'"><button type="button"
                                        class="btn  btn-outline-primary mx-2">Add
                                        New</button>
                                </a>
                                <a [routerLink]="'/import-contacts'"><button type="button"
                                        class="btn  btn-outline-primary">Import bulk
                                        contacts</button>
                                </a>
                            </div>
                        </div>
                        <div class="card-header d-flex aligin-item-center justify-content-between py-2">
                            <input type="text" class="form-control w-25" placeholder="Search..."
                                [(ngModel)]="searchTerm" (input)="onSearchChange()" />
                            <div class="d-flex align-items-center justify-content-center ">
                                <div class="mx-2">
                                    <span class="text-primary">entries per page</span>
                                </div>
                                <div class="">
                                    <select class="form-control" id="itemsPerPageSelect" [(ngModel)]="itemsPerPage"
                                        (change)="onItemsPerPageChange(itemsPerPage)">
                                        <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-border-style pb-1">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>ContactName</th>
                                            <th>ContactEmail</th>
                                            <th>ContactWhatsApp</th>
                                            <th>ContactMobile</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let item of Contacts | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems: total }; let i = index">
                                            <td>{{ (page - 1) * itemsPerPage + (i + 1) }}</td>
                                            <td>{{item.contactName}}</td>
                                            <td>{{item.contactEmail}}</td>
                                            <td>{{item.contactWhatsApp}}</td>
                                            <td>{{item.contactMobile}}</td>
                                            <td><a class="pointer" (click)="EditItem(item.id)">
                                                    <i class="feather icon-edit"></i>
                                                </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-end mb-0">
                                    <pagination-controls class="pagination"
                                        (pageChange)="pageChangeEvent($event)"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>