<div class="auth-wrapper">
    <div class="container p-0">
        <!-- Left Side -->
        <div class="left-panel">
            <img src="assets/img/logo.png" alt="" class="img-fluid mb-4 h-35">
            <p>
                Manage your campaigns efficiently and effortlessly. Our Campaign Management system helps you
                plan, execute, and analyze your marketing efforts—all in one place.
            </p>
        </div>

        <!-- Right Side -->
        <div class="right-panel">
            <div class="login-box">
                <h2 class="login-heading">Reset Password</h2>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

                    <!-- Email -->
                    <!-- <div class="form-group mb-3">
                        <input type="email" class="form-control" formControlName="email" placeholder="Email address">
                        <div *ngIf="resetPasswordForm.get('email')?.touched && resetPasswordForm.get('email')?.invalid">
                            <small class="text-danger"
                                *ngIf="resetPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
                            <small class="text-danger" *ngIf="resetPasswordForm.get('email')?.errors?.['email']">Enter a
                                valid email.</small>
                        </div>
                    </div> -->

                    <div class="form-group mb-4 position-relative">
                        <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                            formControlName="newPassword" placeholder="New Password" />
                        <span class="position-absolute"
                            style="top: 50%; right: 15px; transform: translateY(-50%); cursor: pointer;"
                            (click)="togglePassword()">
                            <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </span>
                        <div
                            *ngIf="resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.invalid">
                            <small class="text-danger">Password is required.</small>
                        </div>
                    </div>
                    
                    <div class="form-group mb-4 position-relative">
                        <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                            formControlName="confirmPassword" placeholder="Confirm Password" />
                        <span class="position-absolute"
                            style="top: 50%; right: 15px; transform: translateY(-50%); cursor: pointer;"
                            (click)="togglePassword()">
                            <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </span>
                        <div
                            *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.invalid">
                            <small class="text-danger">Password is required.</small>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <button class="btn btn-block " type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>