.main-panel-topbar {
    position: relative;
    width: calc(100% - 265px);

    min-height: 100%;
    float: right;
    transition: all .3s;
}

.main-panel-topbar-collapsed {
    position: relative;
    width: calc(100% - 265px);
    margin-left: 75px;
    min-height: 100%;
    float: none;
    transition: all .3s;
}

.main-header-collapsed{
    background: #fff;
    min-height: 70px;
    width: calc(100% - 75px);
    position: fixed;
    z-index: 1001;
    .main-header-logo{
        display: none;
    }
    .navbar-header-collapsed{
        min-height: 70px;
    }
}