<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header mb-0 flex-column align-items-start">
        <ul class="breadcrumbs mb-3" style="margin-left: 0; padding-left: 0; border: none;">
            <li class="nav-item">
                <a [routerLink]="'/dashboard'"><i class=" icon-home"></i></a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a [routerLink]="'/list-contacts'">Contact List</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a [routerLink]="'/import-contacts'">Import Contact</a>
            </li>
        </ul>
        <h3 class="fw-bold mb-3">Contact</h3>
    </div>
    <h3>Import contacts for bulk creation or updating</h3>
    <p>Create, update, or blocklist contacts in bulk in Brevo. And manage unlimited contacts in one place.
        Keep in mind you must have your contacts' consent to send them campaigns.</p>

    <div class="row">
        <!-- Import from a file Card -->
        <div class="col-md-6">
            <div class="card text-center p-4 shadow-sm pointer" style="min-height :40vh" (click)="ImportCsv.click()">
                <div class="card-body">
                    <div class="mb-3">
                        <i class="fa fa-file" style="font-size: 2rem;"></i>
                    </div>
                    <h5 class="card-title">Import from a file</h5>
                    <p class="card-text">Import your contacts from a csv, xlsx, or txt file.</p>
                </div>
            </div>
            <input type="file" class="d-none" accept=".csv" #ImportCsv (change)="UploadCsvFile($event)">
        </div>

        <!-- Copy-paste Card -->
        <div class="col-md-6 ">
            <div class="card text-center p-4 pointer shadow-sm" style="min-height :40vh" (click)="onPasteClick()">
                <div class="card-body">
                    <div class="mb-3">
                        <i class="fa fa-clipboard" style="font-size: 2rem;"></i>
                    </div>
                    <h5 class="card-title">Copy-paste</h5>
                    <p class="card-text">Paste the contacts as text from a spreadsheet or a similar list.</p>
                </div>
            </div>

            <!-- Hidden Textarea for pasting data -->
            <textarea id="pasteArea" class="d-none col-md-12" #PasteArea></textarea>

        </div>

        <div class="col-12">
            <a href="#" class="link-primary">Learn about contacts you're allowed to import for optimal delivery and
                compliance</a>
        </div>
    </div>
</div>