<div class="page-header pb-0 flex-column align-items-start">
    <ul class="breadcrumbs mb-3 ps-0 border-0">
        <li class="nav-item">
            <a [routerLink]="'/list-organisation'"><i class="icon-home"></i></a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a [routerLink]="'/list-organisation'">Organisations List</a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a [routerLink]="'/create-organisation'">Create Organisations </a>
        </li>
    </ul>
    <h3 class="fw-bold mb-3">Organisations</h3>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex flex-wrap flex-row align-items-center justify-content-between py-2 gap-2">
                <h3 class="fw-bold mb-3">Organisations</h3>
                <div class="d-flex align-items-center gap-2 ms-auto">
                    <div class="d-flex align-items-center gap-2">
                        <label class="m-0 me-2">Filter Suspended:</label>
                        <select [(ngModel)]="isSuspendedFilter" [ngModelOptions]="{standalone:true}"
                            class="form-control w-auto py-1" (change)="loadOrganisations();currentPage = 1">
                            <option value="">All</option>
                            <option value="true">Suspended</option>
                            <option value="false">Active</option>
                        </select>
                    </div>
                    <div *ngIf="this.service.User.role == 1">
                        <a [routerLink]="'/create-organisation'">
                            <button type="button" class="btn btn-outline-primary">Add New</button>
                        </a>
                    </div>
                </div>
            </div>
      
      
            <div class="col-12 py-2 px-4">
                <div class="d-flex flex-column flex-sm-row align-items-stretch align-items-sm-center gap-2 flex-grow-1 justify-content-between">
                    <input type="text" class="form-control w-20 w-sm-50" placeholder="Search..." [(ngModel)]="SearchText"
                        (input)="loadOrganisations()" />
                    <div class="d-flex align-items-center gap-2 justify-content-end">
                        <span class="text-primary d-none d-sm-inline">entries per page</span>
                        <select class="form-control w-auto" id="itemsPerPageSelect" [(ngModel)]="PageSize"
                            (change)="changePage(PageSize)">
                            <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        
            <div class="card-body table-border-style pb-1">
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-hover align-middle mb-0" style="min-width: 700px;">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="text-center" style="width: 50px;">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col">Address</th>
                                <th scope="col">Owner Name</th>
                                <th *ngIf="this.service.User.role == 1" scope="col">Approve</th>
                                <th *ngIf="this.service.User.role == 1" scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of Organisations | paginate: { itemsPerPage: PageSize, currentPage: currentPage, totalItems: TotalCount }; let i = index">
                                <td class="text-center">{{ (currentPage - 1) * PageSize + i + 1 }}</td>
                                <td>
                                    <span class="fw-semibold" [title]="item.name">{{ item.name }}</span>
                                </td>
                                <td>
                                    <span class="fw-semibold" [title]="item.phone">{{ item.phone }}</span>
                                </td>
                                <td>
                                    <span class="fw-semibold" [title]="item.email">{{ item.email }}</span>
                                </td>
                                <td>
                                    <span class="fw-semibold d-block text-truncate" style="max-width: 180px;" [title]="item.address">
                                        {{ item.address }}
                                    </span>
                                </td>
                                <td>
                                    <span class="fw-semibold" [title]="item.ownerName">{{ item.ownerName }}</span>
                                </td>
                                <td *ngIf="this.service.User.role == 1">
                                    <ng-container *ngIf="item.isApproved; else notApproved">
                                        <span class="badge bg-success px-3 py-2">
                                            <i class="fa fa-check-circle me-1"></i> Approved
                                        </span>
                                    </ng-container>
                                    <ng-template #notApproved>
                                        <a class="pointer" (click)="approveItem(item)" title="Approve Organisation">
                                            <span class="badge bg-warning text-dark px-3 py-2">
                                                <i class="fa fa-clock me-1"></i> Not Approved
                                            </span>
                                        </a>
                                    </ng-template>
                                </td>
                                <td *ngIf="this.service.User.role == 1" class="d-flex  gap-1">
                                    <a class="pointer small-margin" title="Edit Organisation" [routerLink]="'/create-organisation'"
                                        [queryParams]="{ id: item.id }">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <button class="btn small-margin py-1 px-2" [ngClass]="item.isDeleted ? 'border' : 'btn-danger'"
                                        (click)="item.isDeleted ? openSuspendModal(item.id, true) : openSuspendModal(item.id)">
                                        {{ item.isDeleted ? 'Recover' : 'Suspend' }}
                                    </button>
                                    <button (click)="onLogin(item)" class="btn btn-primary py-1 px-2">
                                        Login
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-end mb-0">
                    <pagination-controls class="pagination" (pageChange)="changePage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " [ngClass]="!isRecovering?'text-danger':'text-primary'" id="deleteModalLabel">
                    Suspention Confirmation
                </h5>
                <button type="button" class="btn ms-auto px-3 text-white"
                    [ngClass]="!isRecovering?'btn-danger':'btn-primary'" data-bs-dismiss="modal"
                    aria-label="Close">x</button>
            </div>
            <div class="modal-body position-relative">
                <span>
                    Are you sure you want to @if(!isRecovering){Suspend}@else{Recover} this organisation?
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn" [ngClass]="!isRecovering?'btn-danger':'btn-primary'"
                    (click)="SuspendOrRecover()">
                    Yes, @if(!isRecovering){Suspend}@else{Recover} this !
                </button>
            </div>
        </div>
    </div>
</div>