<div class="page-header pb-0">
    <h3 class="fw-bold mb-3">Platform configuration</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-item">
            <a [routerLink]="'/list-organisation'"><i class=" icon-home"></i></a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a [routerLink]="'/platform-configuration'">Platform configuration</a>
        </li>

    </ul>
</div>

<div class="card">
    <div class="card-body">

        <div class="title-table d-flex align-items-center">
            <h5>Manage your Platform configurations</h5>
        </div>
        <div class="d-flex justify-content-around w-50 mt-2 ">
            <div class="card  text-center mb-1 selected-email-hover" style="width: 8rem; border-radius: 10px;">
                <div class="card-body pt-3 rounded bg-white pointer border" (click)="ChangeType(1)"
                    [ngClass]="{'selected-email':type ==1}">
                    <i class="fas fa-envelope-open fa-2x"></i>
                    <p class="card-text mt-2">Email</p>
                </div>
            </div>

            <div class="card  text-center mb-1 selected-sms-hover" style="width: 8rem; border-radius: 10px;">
                <div class="card-body pt-3 rounded bg-white pointer border" (click)="ChangeType(2)"
                    [ngClass]="{'selected-sms':type ==2}">
                    <i class="{{service.platformTypeMapping[2].class}} fa-2x"></i>
                    <p class="card-text mt-2">SMS</p>
                </div>
            </div>

            <div class="card  text-center mb-1 selected-whatsapp-hover" style="width: 8rem; border-radius: 10px;">
                <div class="card-body pt-3 rounded bg-white pointer border" (click)="ChangeType(3)"
                    [ngClass]="{'selected-whatsapp':type==3}">
                    <i class="fab fa-whatsapp fa-2x"></i>
                    <p class="card-text mt-2">WhatsApp</p>
                </div>
            </div>
            <div class="card  text-center mb-1 selected-rcs-hover " style="width: 8rem; border-radius: 10px;">
                <div class="card-body pt-3 rounded bg-white pointer border" (click)="ChangeType(4)"
                    [ngClass]="{'selected-rcs':type==4}">
                    <i class="fa fa-globe fa-2x"></i>
                    <p class="card-text mt-2">RCS</p>
                </div>
            </div>
            <div class="card  text-center mb-1 selected-rcs-hover " style="width: 8rem; border-radius: 10px;">
                <div class="card-body pt-3 rounded bg-white pointer border" (click)="ChangeType(5)"
                    [ngClass]="{'selected-facebook':type==5}">
                    <i class="{{service.platformTypeMapping[5].class}} fa-2x"></i>
                    <p class="card-text mt-2">Facebook</p>
                </div>
            </div>
            <div class="card  text-center mb-1 selected-rcs-hover " style="width: 8rem; border-radius: 10px;">
                <div class="card-body pt-3 rounded bg-white pointer border" (click)="ChangeType(6)"
                    [ngClass]="{'selected-instagram':type==6}">
                    <i class="{{service.platformTypeMapping[6].class}} fa-2x"></i>
                    <p class="card-text mt-2">Instagram</p>
                </div>
            </div>
        </div>


        <div class="row d-flex flex-row mt-5">

            @for( config of data.configurations;track $index){
            <div class="col-6 ">
                <div class="">
                    <label class="" for="">{{config.key}} :</label>
                    <input class="form-control" [(ngModel)]="config.value" (change)="updateRecord(config)">
                </div>
            </div>
            }

        </div>
    </div>
</div>