.selected {
    opacity: 1 !important;
}

.selected-hover div {
    opacity: 0.5;
}

.selected-hover div:hover {
    opacity: 1;
}

.circular-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    gap: 0.5rem;
}

.circular-checkbox .checkmark {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid #999;
    display: inline-block;
    transition: all 0.2s ease;
    position: relative;
}
/* 
.circular-checkbox input:checked+.checkmark {
    background-color: #4caf50;
    border-color: #4caf50;
} */

.checked-box{
    background-color: #4caf50;
    border-color: #4caf50;
}

.circular-checkbox .checkmark::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 2.5px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.card-body input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.card-body p {
    margin-bottom: 0rem !important;
}
