<div class="page-header pb-0 flex-column align-items-start">
    <ul class="breadcrumbs mb-3" style="margin-left: 0; padding-left: 0; border: none;">
        <li class="nav-item">
            <a [routerLink]="'/list-organisation'"><i class=" icon-home"></i></a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a [routerLink]="'/list-organisation'">Organisations List</a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a [routerLink]="'/create-organisation'">{{editMode ? 'Update Organisation':'Create Organisations'}} </a>
        </li>
    </ul>
    <h3 class="fw-bold mb-3">{{editMode ? 'Update Organisation':'Create Organisations'}}</h3>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>{{editMode ? 'Edit Organisation':'Add Organisations'}}</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="floating-label" for="name">Organisation Name<span
                                        class="text-danger ">*</span></label>
                                <input type="text" class="form-control" id="name" placeholder="Enter Organisation Name"
                                    formControlName="name">
                                @if(form.get('name')?.invalid && form.get('name')?.touched){ <span class="text-danger">
                                    Organisation Name is required.
                                </span>}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="floating-label" for="ownerName">Owner Name<span
                                        class="text-danger ">*</span></label>
                                <input type="text" class="form-control" id="ownerName"
                                    placeholder="Enter Organisation Name" formControlName="ownerName">
                                @if(form.get('ownerName')?.invalid && form.get('ownerName')?.touched){ <span
                                    class="text-danger">
                                    Owner Name is required.
                                </span>}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="floating-label" for="phone">Phone<span
                                        class="text-danger ">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter Phone Number"
                                    formControlName="phone">
                                @if(form.get('phone')?.invalid && form.get('phone')?.touched){ <span
                                    class="text-danger">
                                    Phone number is required.
                                </span>}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email address<span class="text-danger ">*</span></label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                    placeholder="Enter email" formControlName="email">
                                @if(form.get('email')?.invalid && form.get('email')?.touched){ <span
                                    class="text-danger">
                                    A valid email address is required.
                                </span>}
                                <small id="email" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.</small>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="address">Address<span class="text-danger ">*</span></label>
                                <input class="form-control" id="address" rows="3" formControlName="address">
                                @if(form.get('address')?.invalid && form.get('address')?.touched){ <span
                                    class="text-danger">
                                    Address is required.
                                </span>}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city">City <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="city" rows="3" formControlName="city">
                                @if(form.get('city')?.invalid && form.get('city')?.touched){
                                <span class="text-danger">City is required</span>
                                }
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="state">State <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="state" rows="3" formControlName="state">
                                @if(form.get('state')?.invalid && form.get('state')?.touched){
                                <span class="text-danger">State is required</span>
                                }
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">Country <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="country" rows="3" formControlName="country">
                                @if(form.get('country')?.invalid && form.get('country')?.touched){
                                <span class="text-danger">Country is required</span>
                                }
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="postalCode">PostalCode <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="postalCode" rows="3"
                                    formControlName="postalCode">
                                @if(form.get('postalCode')?.invalid && form.get('postalCode')?.touched){
                                <span class="text-danger">PostalCode is required</span>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="container w-100 m-0">
                        <div class="title-table d-flex align-items-center">
                            <h5>Choose your Platforms</h5>
                        </div>
                        <div class="d-flex flex-wrap fle mt-2 ">
                            <div class="card mx-3 text-center selected-hover"
                                style="width: 9rem; border-radius: 10px;">
                                <div class="card-body pt-3 rounded bg-white pointer border" (click)="selectType(1)"
                                    [ngClass]="{'selected':checkSelected(1)}">
                                    <i class="fas fa-envelope-open fa-2x"></i>
                                    <p class="card-text ">Email</p>
                                    <label class="circular-checkbox">
                                        <input type="checkbox" [ngClass]="{'checked-box':checkSelected(1)}" />
                                        <span class="checkmark" [ngClass]="{'checked-box':checkSelected(1)}"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="card mx-3 text-center selected-hover"
                                style="width: 9rem; border-radius: 10px;">
                                <div class="card-body pt-3 rounded bg-white pointer border" (click)="selectType(2)"
                                    [ngClass]="{'selected':checkSelected(2)}">
                                    <i class="{{service.platformTypeMapping[2].class}} fa-2x"></i>
                                    <p class="card-text ">SMS</p>
                                    <label class="circular-checkbox">
                                        <input type="checkbox"  [ngClass]="{'checked-box':checkSelected(2)}"/>
                                        <span class="checkmark" [ngClass]="{'checked-box':checkSelected(2)}"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="card mx-3 text-center selected-hover"
                                style="width: 9rem; border-radius: 10px;">
                                <div class="card-body pt-3 rounded bg-white pointer border" (click)="selectType(3)"
                                    [ngClass]="{'selected':checkSelected(3)}">
                                    <i class="fab fa-whatsapp fa-2x"></i>
                                    <p class="card-text ">WhatsApp</p>
                                    <label class="circular-checkbox">
                                        <input type="checkbox"  [ngClass]="{'checked-box':checkSelected(3)}"/>
                                        <span class="checkmark" [ngClass]="{'checked-box':checkSelected(3)}"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="card mx-3 text-center selected-hover "
                                style="width: 9rem; border-radius: 10px;">
                                <div class="card-body pt-3 rounded bg-white pointer border" (click)="selectType(4)"
                                    [ngClass]="{'selected':checkSelected(4)}">
                                    <i class="fa fa-globe fa-2x"></i>
                                    <p class="card-text ">RCS</p>
                                    <label class="circular-checkbox">
                                        <input type="checkbox"  [ngClass]="{'checked-box':checkSelected(4)}"/>
                                        <span class="checkmark" [ngClass]="{'checked-box':checkSelected(4)}"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="card mx-3 text-center selected-hover "
                                style="width: 9rem; border-radius: 10px;">
                                <div class="card-body pt-3 rounded bg-white pointer border" (click)="selectType(5)"
                                    [ngClass]="{'selected':checkSelected(5)}">
                                    <i class="{{service.platformTypeMapping[5].class}} fa-2x"></i>
                                    <p class="card-text ">Facebook</p>
                                    <label class="circular-checkbox">
                                        <input type="checkbox"  [ngClass]="{'checked-box':checkSelected(5)}"/>
                                        <span class="checkmark" [ngClass]="{'checked-box':checkSelected(5)}"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="card mx-3 text-center selected-hover "
                                style="width: 9rem; border-radius: 10px;">
                                <div class="card-body pt-3 rounded  bg-white pointer border" (click)="selectType(6)"
                                    [ngClass]="{'selected':checkSelected(6)}">
                                    <i class="{{service.platformTypeMapping[6].class}} fa-2x"></i>
                                    <p class="card-text ">Instagram</p>
                                    <label class="circular-checkbox">
                                        <input type="checkbox"  [ngClass]="{'checked-box':checkSelected(6)}"/>
                                        <span class="checkmark" [ngClass]="{'checked-box':checkSelected(6)}"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="card mx-3 text-center selected-hover "
                                style="width: 9rem; border-radius: 10px;">
                                <div class="card-body pt-3 rounded bg-white pointer border" (click)="selectType(7)"
                                    [ngClass]="{'selected':checkSelected(7)}">
                                    <i class="{{service.platformTypeMapping[7].class}} fa-2x"></i>
                                    <p class="card-text ">Linkedin</p>
                                    <label class="circular-checkbox">
                                        <input type="checkbox"  [ngClass]="{'checked-box':checkSelected(7)}"/>
                                        <span class="checkmark" [ngClass]="{'checked-box':checkSelected(7)}"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="card mx-3 text-center selected-hover "
                                style="width: 9rem; border-radius: 10px;">
                                <div class="card-body pt-3 rounded bg-white pointer border" (click)="selectType(8)"
                                    [ngClass]="{'selected':checkSelected(8)}">
                                    <i class="{{service.platformTypeMapping[8].class}} fa-2x"></i>
                                    <p class="card-text ">Youtube</p>
                                    <label class="circular-checkbox">
                                        <input type="checkbox"  [ngClass]="{'checked-box':checkSelected(8)}"/>
                                        <span class="checkmark" [ngClass]="{'checked-box':checkSelected(8)}"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="card mx-3 text-center selected-hover "
                                style="width: 9rem; border-radius: 10px;">
                                <div class="card-body pt-3 rounded bg-white pointer border" (click)="selectType(9)"
                                    [ngClass]="{'selected':checkSelected(9)}">
                                    <i class="{{service.platformTypeMapping[9].class}} fa-2x"></i>
                                    <p class="card-text ">Pinterest</p>
                                    <label class="circular-checkbox">
                                        <input type="checkbox"  [ngClass]="{'checked-box':checkSelected(9)}"/>
                                        <span class="checkmark" [ngClass]="{'checked-box':checkSelected(9)}"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 ">
                        <button type="submit" class="btn btn-primary mx-3" [disabled]="form.invalid">Submit</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>