   <!-- <div class="custom-modal-backdrop">
    <div class="custom-modal-content">
      <h4>Change Password</h4>
      <form [formGroup]="pwForm" (ngSubmit)="UpdatePassword()">
        <div class="form-group">
          <label>Current Password</label>
          <input formControlName="currentPassword" type="password" class="form-control" required />
        </div>
  
        <div class="form-group">
          <label>New Password</label>
          <input formControlName="newPassword" type="password" class="form-control" required />
        </div>
  
        <div class="form-group">
          <label>Re-enter New Password</label>
          <input formControlName="renewPassword" type="password" class="form-control" required />
        </div>
  
        <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="pwForm.invalid">Change Password</button>
      </form>
    </div>
  </div> -->
  
  <div class="custom-modal-backdrop">
    <div class="custom-modal-content">
      <h4>Change Password</h4>
      <form [formGroup]="pwForm" (ngSubmit)="UpdatePassword()">
        
        <!-- Current Password -->
        <div class="form-group">
          <label>Current Password</label>
          <input
            [type]="showCurrent ? 'text' : 'password'"
            formControlName="currentPassword"
            class="form-control"
          />
          <i  [class]="showCurrent ? 'toggle-eye fa fa-eye-slash' : 'toggle-eye fa fa-eye'" (click)="showCurrent = !showCurrent"></i>
          <div *ngIf="pwForm.get('currentPassword')?.touched && pwForm.get('currentPassword')?.invalid">
            <small class="text-danger">Current password is required.</small>
          </div>
        </div>
  
        <!-- New Password -->
        <div class="form-group">
          <label>New Password</label>
          <input
            [type]="showNew ? 'text' : 'password'"
            formControlName="newPassword"
            class="form-control"
          />
          <i  [class]="showNew ? 'toggle-eye fa fa-eye-slash' : 'toggle-eye fa fa-eye'" (click)="showNew = !showNew"></i>
          <div *ngIf="pwForm.get('newPassword')?.touched && pwForm.get('newPassword')?.errors">
            <small class="text-danger" *ngIf="pwForm.get('newPassword')?.errors?.['required']">
                New password is required.
              </small>
              <small class="text-danger" *ngIf="pwForm.get('newPassword')?.errors?.['minlength']">
                Minimum 6 characters.
              </small>
              <small class="text-danger" *ngIf="pwForm.get('newPassword')?.errors?.['pattern']">
                Must contain uppercase, lowercase, digit and special character.
              </small>
              
          </div>
        </div>
  
        <!-- Confirm Password -->
        <div class="form-group">
          <label>Re-enter New Password</label>
          <input
            [type]="showConfirm ? 'text' : 'password'"
            formControlName="renewPassword"
            class="form-control"
          />
          <i  [class]="showConfirm ? 'toggle-eye fa fa-eye-slash' : 'toggle-eye fa fa-eye'" (click)="showConfirm = !showConfirm"></i>
          <div *ngIf="pwForm.hasError('mismatch') && pwForm.get('renewPassword')?.touched">
            <small class="text-danger">Passwords do not match.</small>
          </div>
        </div>
  
        <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="pwForm.invalid">
          Change Password
        </button>
      </form>
    </div>
  </div>
  